<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.HanziIDSComponentExplorer.GUIEnhancedFork</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Hanzi Component Explorer</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.4-gui</string>
	<key>CFBundleVersion</key>
	<string>11</string>
	<key>NSHumanReadableCopyright</key>
	<string>Original copyright 2026 TzuYuan Yin; fork modifications copyright 2026 Ooma Kobayashi</string>
	<key>NSPrincipalClass</key>
	<string>HanziIDSComponentExplorer</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
